.header {
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1rem 0;
  background-color: white;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 60%;
}

form input[type="text"] {
  width: 100%;
  font-size: 1rem;
  background: transparent;
  padding: 10px;
  border: 0;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1.5rem;
}

.search-box {
  background-color: rgb(230, 230, 230);
  border-radius: 100px;
}

.search-box i {
  padding: 10px;
}
